CREATE USER developer IDENTIFIED BY <PASSOWRD>;
GRANT CREATE SESSION, CREATE PROCEDURE, CREATE SEQUENCE, CREATE TABLE, CREATE VIEW, UNLIMITED TABLESPACE TO developer;

CREATE TABLE departments (
id NUMBER(38) NOT NULL,
DEPT NUMBER(38),
DEPT_NAME VARCHAR2(250),
CONSTRAINT dept_chk CHECK (DEPT >= 0 AND DEPT <= 9999)
);

INSERT INTO departments (id, DEPT, DEPT_NAME)
VALUES
(1, 1000, 'Department A'),
(2, 2000, 'Department B'),
(3, 3000, 'Department C'),
(4, 4000, 'Department D'),
(5, 5000, 'Department E');
